.container
  .row
    .col-md-12
      - unless events
        Something went wrong when rendering this page :(
      - else
        %h3
          = issue.title
        %h4.text-muted
          = issue.culprit

        - event = events.first
        .row
          .col-md-12.issue-metadata
            .container
              .row.p-1
                %strong
                  Tags
                %div.tags
                  - event.tags.each do |tag|
                    %span.badge.badge-info
                      #{tag['key']}:#{tag['value']}
              .row.p-1
                %small
                  There are
                  %strong
                    = events.size
                  similar events associated with this issue.
        - event.entries.each do |entry|
          .row
            .col-md-12
              / #{entry.inspect}
              - if entry['type'] == 'message'
                %h5
                  Message
                .container.p-1
                  %blockquote.blockquote
                    - if entry['data']['formatted']
                      = entry['data']['formatted']
                    - else
                      = entry['data']['message']

              - if entry['type'] == 'exception'
                %h5
                  Stack trace
                .container.p-1
                  - entry['data']['values'].each do |val|
                    %ul.list-unstyled
                      - val['stacktrace']['frames'].reverse_each do |frame|
                        %li
                          %div.m-1
                            %strong
                              = frame['module']
                            in
                            %strong
                              = frame['function']
                            at line #{frame['lineNo']} of
                            %code
                              = frame['absPath']

