.container
  .row
    .col-md-12
      - unless events
        Something went wrong when rendering this page :(
      - else
        %h2
          = issue.title
        %h3.text-muted
          = issue.culprit
        .row
          .col-md-12
            %small
              There are
              %strong
                = events.size
              events associated with this issue.

        - events.each do |event|
          .row
            .col-md-12
              - event.tags.each do |tag|
                %span.badge.badge-info
                  #{tag['key']}:#{tag['value']}
              - event.entries.each do |entry|
                / #{entry.inspect}
                - if entry['type'] == 'message'
                  %p
                    - if entry['data']['formatted']
                      = entry['data']['formatted']
                    - else
                      = entry['data']['message']

                - if entry['type'] == 'exception'
                  - entry['data']['values'].each do |val|
                    %ul.list-unstyled
                      - val['stacktrace']['frames'].reverse_each do |frame|
                        %li
                          %div.m-1
                            %strong
                              = frame['module']
                            in
                            %strong
                              = frame['function']
                            at line #{frame['lineNo']} of
                            %code
                              = frame['absPath']

          - break
